*, *:before, *:after {
  box-sizing: border-box;
}

/* NOTE TO GRADING TEAM: I've already spent over 20 hours stumbling, fumbling,
and grumbling about this project. I have no idea what to do to correct my
problems, and I don't even know what questions to ask on Slack. I know that
this submission is both incorrect and incomplete, but I've hot a mental wall
and need more personalized help.*/


body {
  background-color: #ffffff;
  font-size: 10px;
}


div {
  background-color: #dadada;
  float: left;
  margin: 10;
  width: 100%;
  padding: 10 0 0 0;
}

/* code added to create two-column design on tablet devices*/
@media screen and (min-width: 575px) {
  div {
    font-size: 50%;
    margin: 1%
    width: 48%;
  }
}

/* code added to create four-column design on laptop and larger devices*/
@media screen and (min-width: 991px){
   div {
    font-size: 1%;
    width: 23%;
  }
}

.emphasis {
  background-color: #dadada;
  width: 100%;
  padding: 10%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 60%;
  text-align: center;
  text-transform: uppercase; /* All characters will be uppercase */
  }

  /* code added to create two-column design on tablet devices*/
  @media screen and (min-width: 575px) {
    .emphasis {
      font-size: 50%;
      margin: 1%;
      width: 48%;
    }
  }

  /* code added to create four-column design on laptop and larger devices*/
  @media screen and (min-width: 991px){
     .emphasis {
      font-size: 25%;
      margin: 1%;
      width: 23%;
    }
  }

img {
  margin-top: 0px;
  width: 100%;
  position: relative;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}
