*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background-color: #dadada;
}

.container {
  margin: 0px auto;
  width: 100%;
}

/* since container is parent of preview, we need a ">" symbol */
.container > h1 {
  margin: 30px 0;
  font-family: sans-serif;
  font-size: 1.4em;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
}

/* preview is child of container */
.preview {
  width: 100%;
  height: 300px;
}

/* since preview is child of conatiner, we DO NOT need a ">" symbol */
.preview h1 {
  font-size: 2.4em;
  padding: 10%;
  text-align: left;
}

.baku {
  background-image: url(images/baku.jpg);
  background-size: cover;
  background-position: left;
}

.london {
  background: url(images/london.png);
  background-size: cover;
  background-position: right;
}

.madrid {
  background: url(images/madrid.jpg);
  background-size: cover;
  background-position: left;
}

.rome {
  background: url(images/rome.jpg);
  background-size: cover;
  background-position: left;
}


/* this is the tablet screen size */
@media screen and (min-width: 600px){
   .container {
    margin: 0 auto;
    width: 80%;
  }

  .preview {
    float: right;
    width: 48%;
    margin: 1% 1%;
    height: 200px;
  }
}

/* this is the desktop screen size */
@media screen and (min-width: 900px){
  .container {
    width: 70%;
  }

.preview {
  float: left;
  width: 23%;
  margin: 2em 1%;
  height: 200px;
  }
}

h1 {
  font-size: 2.5em;
}
